@import "tailwindcss";

:root {
  --clr-background: #fcfdfe;
  --clr-primary: #574d6c;

  /* other suggestions below */
  --clr-primary-text: #574d6c;
  --clr-heading: #2e273e; /* a slightly darker tone if needed */
  --clr-accent: #d8c7e4; /* lighter complementary shade */
}

body {
  color: var(--clr-primary);
  background: var(--clr-background);
  font-family: var(--font-lora), serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

main {
  margin-top: 74px;
}
