@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  --clr-background: #fcfdfe;
  --clr-background2: #f9f7f3;
  --clr-background3: #ebebeb;
  --clr-background4: #f6f5f5;

  --clr-primary: #574d6c;
  --clr-logo: #7a6d92;
  --clr-primary-text: #574d6c;
  --clr-heading: #2e273e;
  --clr-accent: #e8eaf9;

  --navbar-height: 64px;
}

html {
  font-family: var(--font-lora), serif;
}

body {
  color: var(--clr-primary);
  background: var(--clr-background);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.aside-top {
  top: calc(var(--navbar-height) + 24px);
}

.swiper {
  height: 100%;
  border-radius: 16px;
}

.swiper-slide {
  opacity: 1;
  transition: 0.3s;
  user-select: none;
}

.swiper-slide-active {
  opacity: 1;
  filter: brightness(100%);
}

.swiper-shadow {
  box-shadow: 0px 4px 18px -8px #0000007c;
}

@media (max-width: 720px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 0.85rem;
  }
}
