@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  --clr-background: #fcfdfe;
  /* #e6ddcc; */
  /* #efefea */
  --clr-background2: #f9f7f3;
  --clr-background3: #efefea;
  /* --clr-background3: #eee8dd; */

  --clr-primary: #574d6c;
  --clr-logo: #7a6d92;

  /* other suggestions below */
  --clr-primary-text: #574d6c;
  --clr-heading: #2e273e; /* a slightly darker tone if needed */
  --clr-accent: #e8eaf9; /* lighter complementary shade */

  --navbar-height: 64px;
}

html {
  font-family: var(--font-lora), serif;
}

body {
  color: var(--clr-primary);
  background: var(--clr-background);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.aside-top {
  top: calc(var(--navbar-height) + 24px);
}

.swiper {
  height: 100%;
  border-radius: 16px;
}

.swiper-slide {
  left: 10px;
  width: 50%;
}

.swiper-slide {
  opacity: 0.5;
  transition: 0.3s;
  user-select: none;
}

.swiper-slide a {
  display: none;
}

.swiper-slide div {
  pointer-events: none;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active a {
  display: block;
}

.swiper-slide-active .swiper-shadow {
  box-shadow: 0px 4px 18px -8px #0000007c;
}

.swiper-slide-active div {
  pointer-events: all;
}

.swiper-slide-active ~ .swiper-slide {
}

@media (max-width: 720px) {
  body {
    font-size: 0.9rem;
  }
}
