@import "tailwindcss";

:root {
  --clr-background: #fcfdfe;
  --clr-primary: #574d6c;

  /* other suggestions below */
  --clr-primary-text: #574d6c;
  --clr-heading: #2e273e; /* a slightly darker tone if needed */
  --clr-accent: #e8eaf9; /* lighter complementary shade */

  --navbar-height: 64px;
}

html {
  font-family: var(--font-lora), serif;
}

body {
  color: var(--clr-primary);
  background: var(--clr-background);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.aside-top {
  top: calc(var(--navbar-height) + 24px);
}
